{% extends "base.html" %}
{% set active_page="all_users" %}

{% block title %}All Users{% endblock %}
{% block head %}{% endblock %}
{% block heading %}All Users{% endblock %}
{% block content %}
    {% if not users %}
        <p>There are no users yet. Will you be the first one?</p>
    {% else %}
        <table class="table table-hover">
            <tr>
                <th>User ID</th>
                <th>Joined On</th>
                <th>Role</th>
            </tr>
            {% for user in users %}
            <tr>
                <td><a href="{{ url_for('profile', username=user['user_id']) }}">{{ user['user_id'] }} →</a></td>
                <td>{{ user['join_date'] }}</td>
                <td class="{% if user['role'] == 'admin' %}bg-success{% else %}bg-primary{% endif %} text-light">{{ user['role'] }}</td>
            </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}
