{# demos #}
{# SQL Injection attack, XSS injection attack, website defacing, how cookies work, how session management works #}
{% extends "base.html" %}
{% set active_page="demos" %}

{% block title %}Security Demos{% endblock %}
{% block head %}{% endblock %}
{% block heading %}Security Demos{% endblock %}
{% block content %}
    <p>On this page, various security features of the site are demonstrated. I show sandboxed attackable endpoints on this page and discuss how the actual site prevents these attacks.</p>
    <h2>SQL Injection</h2>
    <hr/>
    <p>
        SQL Injection involves writing SQL queries in "unsanitized" input areas in an application. In an SQL-based architecture, form input is sent to the application which generates an appropriate SQL query to fetch or set the desired data. If an attacker finds an insecure endpoint, they can try to write queries or parts of queries to try to gain unauthorized access to protected data or authenticate themselves.
    </p>
    <p>
        Suppose we have this table:
    </p>
        <img src="https://i.imgur.com/VHLdqV7.png" alt="insecure-users"><br/><br/>
    <p>
        Let's create some users...
    </p>
        <img src="https://i.imgur.com/8SlPJhj.png" alt="insecure-add"><br/><br/>
    <p>
        Now let's write some code to take form data and verify their credentials.
    </p>
        <img src="https://i.imgur.com/ibRLixS.png" alt="insecure-sql"><br/>
    <p>
        Basically, we're checking if there's any user which matches the parameter and if the supplied password is associated with them. If there is such a user, we return a key-value pair of the user_id. Otherwise, we return nothing.
    </p>
    <p>

        It does work...<br/>
    </p>
        <img src="https://i.imgur.com/5axEAGT.png" alt="works-but"><br/>
    <p>
        ...however it is quite obviously insecure. Can you spot the problem?
    </p>
    <p>
        Besides the fact that the passwords are not salted and hashed (they are on the actual website, read the <a href="{{ url_for("profile", username="behind_the_scenes") }}">Behind the Scenes</a> blog), this method of querying the database is fundamentally insecure, regardless of if the passwords were hashed or not.  You could carefully write a partial SQL query inside of the password field and successfully verify the user without actually knowing what their credentials were.
    </p>
        <img src="https://i.imgur.com/tjZGDNB.png" alt="sql-injection"><br/>
    <p>
        This hack relies on the fact that "1" is equal to "1" and therefore will always return TRUE. If we attach an OR to it, we have ourselves a TRUE boolean statement and therefore, we will get back the user_id.
    </p>

    <p>
        The below form is an endpoint into this insecure database. Try it yourself! (The password field is not hidden for convenience). Can you find other ways to validate a user without knowing their password?<br/>
        <form method="POST">
            <label for="user_id">User ID</label>
            <input class="form-control" name="user_id" type="text">
            <label for="password">Password</label>
            <input class="form-control" name="password" type="text">
            <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token() }}">
            <input type="submit" class="btn btn-primary top10" value="login →">
        </form>
    </p>

    <p>
        So how can we write more secure verification code? We can use something called a <i>prepared statement</i>. Instead of having our programming language concatenate a query together, SQL lets us parameterize which arguments we want to supply ourselves ahead of time. In PyMySQL, that looks something like this:<br/>
        <img src="https://i.imgur.com/UkkX57F.png" alt="prepared-statement"><br/>
        Even though the fix is simple, it doesn't let attackers inject our code because we let SQL handle the field verification.
    </p>

    <p>
        You can see that it works here: <br/>
    </p>
    <p>
        <img src="https://i.imgur.com/ic9JYaT.png" alt="prepared-exec"><br/>
    </p>
    &nbsp;
    <h2>Cross Site Scripting (XSS)</h2>
    <hr/>
    <p>
        Cross-site scripting, or XSS, is another form of injection. This time, instead of injecting SQL code, we can inject Javascript code from external sources. Now unlike SQL, Javascript is in every modern browser and run client-side so therefore this can be more of a threat than SQL injections are.
    </p>
    <p>
        The idea behind XSS is to write some script in an unsanitized field, or load it from some file. For example, you could write some javascript inside an SVG which is parsed as XML and since the browser will see XML, it would run the javascript inside.<br/>
    </p>
    <p>
        <a href="https://xss-game.appspot.com/level1">This site</a> lets you play with running XSS attacks. Try running <br/>
    <code>
        &lt;script&gt;
            alert("hi");
        &lt;/script&gt;
    </code><br/>
        on it.
    </p>

    <p>
        My website prevents XSS attacks by using the POST method in forms and inserting a CSRF token in all of them and adding the CSRF token to the session. Upon a form submission, I check if the CSRF token matches the session's CSRF token to ensure that no XSS attacks are happening.<br/>
    </p>

        <img src="https://i.imgur.com/00OQrrY.png" alt="csrf-token-gen"><br/>
    <p>
        Generating a token and storing it to the session.<br/>
    </p>
        <img src="https://i.imgur.com/Y72NoIE.png" alt="csrf-form"><br/>
    <p>
        <i>Inserting the CSRF token into the form</i>
    </p>

    <p>
        Additionally, since I decided to support Markdown in my blog post forms, I disable support for HTML tags so that there is no chance for arbitrary code execution from a blog post. HTML just shows up as plaintext.
    </p>
        <img src="https://i.imgur.com/TOzXGVk.png" alt="markdown-flush"><br/>
     <p>   <i>Using the "safe_mode" argument inside the markdown converter. This escapes any HTML (as a drawback, you cannot resize any images).</i>
    </p>

    <h2>Website Defacing</h2>
    <hr/>
    <p>

    </p>

    <h2>Sessions and Cookies</h2>
    <hr/>
    <p>Read the following articles to see how sessions and cookies are implemented</p>
    <ul>
        <li><a href="{{ url_for('post', number=7) }}">Sessions</a></li>
        <li><a href="{{ url_for('post', number=8) }}">Cookies</a></li>
    </ul>
{% endblock %}
