{# blog list screen #}
{% extends "base.html" %}
{% set active_page="index" %}

{% block title %}Home{% endblock %}
{% block head %}{% endblock %}
{% block heading %}Recent Posts{% endblock %}
{% block content %}
<div class="row">
    {# search bar #}
    <div class="form-group col-md-12">
        <form>
            <div class="input-group row" style="margin: 0px 0px">
                <input class="form-control" type="text">
                <button type="button" class="btn btn-sm btn-success">Search!</button>
            </div>
        </form>
    </div>

    {# pagination #}
    <div class="col-md-6">
        <nav>
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#">Previous</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="col-md-6">
    </div>
</div>

{# blog posts #}
<div class="row bg-light border">
    <div class="col-md-12">
        <h2 class="post-heading text-white bg-primary">
            &nbsp;&nbsp;くぁｗせｄｒｆｔｇｙふじこｌｐ
        </h2>
        <p class="text-muted"><i>
            Author: ばか<br/>
            Published on: 明日<br/>
        </i></p>
        <p>
           くぁｗせｄｒｆｔｇｙふじこｌｐちゃんが大好きです。
        </p>
        <p>
            <button class="btn btn-success">View</button>
            <button class="btn btn-sm btn-warning">Edit</button>
            <button class="btn btn-sm btn-danger">Delete</button>
        </p>
    </div>
</div>
{% endblock %}