{# login #}
{% extends "base.html" %}
{% set active_page="login" %}

{% block title %}Login{% endblock %}
{% block head %}{% endblock %}
{% block heading %}Login{% endblock %}
{% block content %}
<form method="POST">
  <label for="username">Username</label>
  <input class="form-control" name="username" type="text">
  <label for="password">Password</label>
  <input class="form-control" name="password" type="password">
  <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token() }}">
  <label for="remember_me">Remember me</label>
  <input class="form-control" name="remember_me" type="checkbox">
  <input type="submit" class="btn btn-primary top10" value="login →">
</form>

<button class="loginBtn loginBtn--google">
  Login with Google
</button>
{% endblock %}
