<div class="row bg-light border top30">
    <div class="col-md-12">
        <div class="row bg-primary">
            <div class="col-md-11">
                <h2 class="text-white">
                    &nbsp;&nbsp;{{ post["title"] }}
                </h2>
            </div>
            <div class="col-md-1">
                <h5 class="text-light"><i>
                    #{{ post["id"] }}</i>
                </h5>
            </div>
        </div>
        <p class="text-muted"><i>
            Author: {{ post["author"] }}<br/>
            Published on: {{ post["published_on"] }}<br/>
        </i></p>
        <p>
            {{ post["preview"] }}
        </p>
        <p>
            <button class="btn btn-success">View</button>
            <button class="btn btn-sm btn-warning">Edit</button>
            <button class="btn btn-sm btn-danger">Delete</button>
        </p>
    </div>
</div>
