<div class="row">
    {# search bar #}
    {# <div class="form-group col-md-12">
        <form method="POST">
            <div class="input-group row" style="margin: 0px 0px">
                <input class="form-control" name="search" type="text">
                <input type="submit" class="btn btn-sm btn-success" value="Search!">
            </div>
        </form>
    </div> #}

    {# pagination #}
    <div class="col-md-6">
        <nav>
            <ul class="pagination">
                {#<li class="page-item">
                <a class="page-link" href="{{ url_for(active_page, page=page-1) }}">Previous</a>
            </li>#}
                {% for p in range(total_posts//POSTS_PER_PAGE + 1) %}
                <li class="page-item">
                    <a class="page-link {% if p+1==page %}active-selection{% endif %}" href="{{ url_for(active_page, page=p+1, **values) }}">{{ p+1 }}</a>
                </li>
                {% endfor %}
                {#<li class="page-item">
                <a class="page-link" href="{{ url_for(active_page, page=page+1) }}">Next</a>
            </li>#}
            </ul>
        </nav>
        <h6>Total posts: {{ total_posts }}</h6>
    </div>
    <div class="col-md-6">
    </div>
</div>
