{# full view of a blog post #}
{% extends "base.html" %}
{% set active_page="post" %}

{% block title %}{{ post['title'] }}{% endblock %}
{% block head %}{% endblock %}
{% block heading %}{{ post['title'] }}{% endblock %}
{% block content %}
    <div class="post-header text-muted container rounded border-left border-success">
    <i>
        <p><strong>Posted on: </strong>{{ post['date_created'] }}</p>
        <p><strong>Author: </strong>{{ post['user_id'] }}</p>
        {% include "post_manager.html" %}
    </i>
    </div>
    &nbsp;
    <div class="post-content">
        <pre class='post-body'>{{ post['post_content'] }}</pre>
    </div>
{% endblock %}

