<div class="row bg-light border top30">
    <div class="col-md-12">
        <div class="row bg-primary">
            <div class="col-md-11">
                <h2 class="text-white">
                    &nbsp;&nbsp;{{ post["title"] }}
                </h2>
            </div>
            <div class="col-md-1">
                <h5 class="text-light"><i>
                    #{{ post["post_id"] }}</i>
                </h5>
            </div>
        </div>
        <p class="text-muted"><i>
            Author: {{ post["user_id"] }}<br/>
            Published on: {{ post["date_created"] }}<br/>
        </i></p>
        <p class="post-preview">
            {{ post["preview"] }}{% if post["preview"]|length >= 100 %}...{% endif %}
        </p>
        <p>
            <a class="btn btn-sm btn-success" href="{{ url_for('post', number=post['post_id']) }}">View</a>
            <a class="btn btn-sm btn-warning" href="{{ url_for('edit_post', number=post['post_id']) }}">Edit</a>
            <a class="btn btn-sm btn-danger" href="{{ url_for('delete_post', number=post['post_id']) }}">Delete</a>
        </p>
    </div>
</div>
