{# full view of a blog post #}
{% extends "base.html" %}
{% set active_page="post" %}

{% block title %}{{ post['title'] }}{% endblock %}
{% block head %}{% endblock %}
{% block heading %}{{ post['title'] }}{% endblock %}
{% block content %}
    <div class="post-header text-muted container rounded border-left border-success">
    <i>
        <h6><strong>Posted on: </strong>{{ post['date_created'] }}</h6>
        <h6><strong>Author: </strong>{{ post['user_id'] }}</h6>
        {% include "post_manager.html" %}
    </i>
    </div>
    &nbsp;
    <div class="post-content">
        {# <pre class='post-body'>{{ post['post_content'] }}</pre> #}
        {{ content }}
    </div>
{% endblock %}

