{# privacy statement #}
{% extends "base.html" %}
{% set active_page="privacy" %}

{% block title %}Privacy{% endblock %}
{% block head %}{% endblock %}
{% block heading %}Privacy Statement{% endblock %}
{% block content %}
    <p>We do not share personal information with third-parties nor do we store information we collect about your visit to this blog for use other than to analyze content performance through the use of cookies, which you can turn off at anytime by modifying your Internet browser's settings. We are not responsible for the republishing of the content found on this blog on other Web sites or media without our permission. This privacy policy is subject to change without notice.</p>

    <p><b>Cookies</b><br/>
        Cookies are only used for storing your last page and your last visit. No other information is stored and the information stored will not be sold or given to any third party organizations.</p>

    <p><b>Login Credentials<br/></b>
        All passwords are hashed and salted and your email is not publicly shown on any page. There is currently no mechanism for restoring lost user information so please be careful.</p>
{% endblock %}
