{# profile screen #}
{% extends "base.html" %}
{% set active_page="profile" %}

{% block title %}{{ username }}'s Profile{% endblock %}
{% block head %}{% endblock %}
{% block heading %}{{ username }}'s Profile{% endblock %}
{% block content %}
<h5>Joined: {{ user["join_date"] }}</h5>
<h5>Email verified: {{ not user["email_verification"] }}</h5>
{% set role = user["role"] %}
<h5>User Role: {{ role }}</h5>
{% if current_user and (current_user['user_id'] in ('sherwyn', 'cs166_admin')) %}
    {% if role == "admin" %}
        <a href="{{ url_for('toggle_admin_status', username=username) }}" class="btn btn-primary">Set as normal user</a>
    {% else %}
        <a href="{{ url_for('toggle_admin_status', username=username) }}" class="btn btn-success">Set as admin user</a>
    {% endif %}
{% endif %}
{# <h2 class="top30">{{ username }}'s posts</h2>
{% include "post_selector.html" %}
({ populate_posts(posts) }} #}
{% endblock %}
