{# profile screen #}
{% extends "base.html" %}
{% set active_page="profile" %}

{% block title %}{{ username }}'s Profile{% endblock %}
{% block head %}{% endblock %}
{% block heading %}{{ username }}'s Profile{% endblock %}
{% block content %}
<h5>Joined: {{ user["join_date"] }}</h5>
<h5>Admin Status: {{ user["admin_status"] }}</h5>
<button class="btn btn-warning">Toggle Admin Status</button>
{# <h2 class="top30">{{ username }}'s posts</h2>
{% include "post_selector.html" %}
{{ populate_posts(posts) }} #}
{% endblock %}
