;;;; COPY THIS TO /etc/systemd/system/blog_site.service ;;;;
[Unit]
Description=uWSGI instance to serve blog_site
After=network.target

[Service]
User=sherwyn
Group=www-data
WorkingDirectory=/home/sherwyn/Dropbox/school/spr2018/infosec/blog_site
Environment="PATH=/home/sherwyn/vinfosec/bin"
ExecStart=/home/sherwyn/vinfosec/uwsgi --ini blog_site.ini

[Install]
WantedBy=multi-user.target
